* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}

#map {
    margin-top: 5.6em;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.popup {
    padding: 0;
}

.mapboxgl-popup-content {
    padding: 0 1rem;
    text-align: center;
}